# In 2.4.0, lightning introduced a bug which completely broke checkpointing to
# a network drive. You can use a newer version, but the `results/` directory
# will have to be on a local disk unles they fixed it.
# I suspect it's this PR: https://github.com/Lightning-AI/pytorch-lightning/pull/20011
# Note that a version >= 2.3.0 also needs to be used, since there is another
# older bug which causes asymmetrical memory usage; I suspect this is due to
# something in the dataloader, and is related to this issue:
# https://discuss.pytorch.org/t/extra-10gb-memory-on-gpu-0-in-ddp-tutorial/118113
lightning==2.3.3

torch
torchvision
matplotlib
tensorboard
einops
pyyaml
scikit-image
tqdm
jaxtyping
beartype
types-PyYAML
tqdm-stubs
pandas
# Red Rover/Ouster compatibility for I/Q-1M traces.
# ouster-sdk 0.13.x fails to parse these Ouster metadata files.
ouster-sdk==0.12.0
kiss-icp==0.4.0
